<ion-header>
  <ion-toolbar>
    <div class="content-title">
      <ion-icon name="key-outline"></ion-icon>
      <ion-title>Recuperar Contraseña</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="recoveryForms">
    <ion-list>
      <ion-radio-group (ionChange)="segmentChanged($event)">
        <ion-item *ngFor="let check of checkList">
          <p>{{ check.label }}</p>
          <ion-radio
            slot="start"
            color="success"
            [value]="check.controlName"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <div *ngIf="controls === true" class="content-form">
      <p>*Usuario o cuenta</p>
      <ion-item>
        <div class="content-input">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input formControlName="user"></ion-input>
        </div>
      </ion-item>
    </div>

    <div class="userFormButtons">
      <ion-button
        expand="block"
        color="primary"
        (click)="enviarCorreo()"
        class="loginButton"
        >Aceptar</ion-button
      >
    </div>
  </form>
</ion-content>
