.content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  
    ion-icon {
      margin-left: 2%;
      font-size: 45px;
      color: #29a5dd;
    }
}

.content-checks {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin-left: 10px;
  }
}

.content-form {
  width: 90%;
  margin: auto;

  .content-input {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-direction: row;
  }
}

.userFormButtons {
  width: 80%;
  margin: 10% auto;
}

