@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
  }
  
  // Media queries
  
  @mixin respond($breakpoint) {
    // @if $breakpoint == smallphone {
    //     // Extra small devices (portrait phones, less than 576px)
    //     @media (max-width: 575.98px) { @content; }
    // }
    @if $breakpoint == phone {
        // Small devices (landscape phones, 576px and up)
        @media (min-width: 300px) and (max-width: 767.98px) { @content; }
    }
    @if $breakpoint == tab-port {
        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) and (max-width: 991.98px) { @content; }
    }
    @if $breakpoint == tab-land {
        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) and (max-width: 1199.98px) { @content; }
    }
    @if $breakpoint == desktop {
        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) { @content; }
    }
  }
  
  