.content-data {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 18px;

    .content-select {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
        
    }
}